<h1 class="display-4 text-center">Rent Bike App</h1>
<hr>
<form *ngFor="let fb of bikeForms.controls" [formGroup]="fb" (submit)="recordSubmit(fb)">
    <div class="bg-light p-2">
        <div class="form-row">
            <input type="hidden" name="BikeId" value="service.formData.BikeId">
            <input type="hidden" name="RentStateId" value="service.formData.RentStateId">
            <div class="form-group col-md-4">
                <label>Bike Name</label>
                <input class="form-control" formControlName="BikeName" placeholder="Bike Name" required minlength="3"
                    maxlength="100">
            </div>
            <div class="form-group col-md-3">
                <label>Bike Type</label>
                <select formControlName="BikeTypeId" class="form-control" placeholder="Bike Type">
                    <option value="0">Select</option>
                    <option *ngFor="let item of bikeTypeList" value="{{item.BikeTypeId}}">{{item.Name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Bike Price</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                        <input type="number" step="0.5" class="form-control " formControlName="BikePrice"
                            placeholder="Bike Price" required minlength="1" maxlength="20">
                    </div>
                </div>
            </div>
            <div class="form-group col-md-2 ml-2">
                <label></label>
                <button type="submit" class="btn btn-success btn-block mt-2" [disabled]=fb.invalid>
                    Create <i class="fas fa-bicycle"></i></button>
            </div>
        </div>
    </div>
</form>