<div class="mt-3 mb-1">Rented <i class="fas fa-bicycle"> ({{service.rentedBikes?.length}})</i></div>
<div class="row ml-1 mt-1 mb-1 font-weight-bold">
    <div class="col-md-3">Bike Name</div>
    <div class="col-md-3">Bike Type</div>
    <div class="col-md-3">Rent Price</div>
    <div class="col-md-3">Actions</div>
</div>
<div class="row bg-white ml-1 mr-0 mb-2" *ngFor="let bike of service.rentedBikes">
    <div class="col-md-3 mt-2 mb-2">{{bike.BikeName}}</div>
    <div class="col-md-3 mt-2 mb-2">{{getBikeTypeByFind(bike.BikeTypeId)?.Name}}</div>
    <div class="col-md-3 mt-2 mb-2">${{bike.BikePrice}}</div>
    <div class="col-md-3 mt-2 mb-2">
        <a class="btn btn-warning btn-sm" (click)="onFree(bike)">End rent</a>
    </div>
</div>